@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

font-family{
    Dosis, sant-serif;
    
} 
nav li a span {
    text-transform: uppercase;
    opacity: 3s;
    display: table-cell;
    vertical-align: middle;
    }

nav li a {
    width: 100px;
    height: 100px;
   display: table;
   
    
}
nav li {
    display: block;
    width: 100px;
    height: 100px;
    background-color: none;
    list-style: none;
   }
nav,ul {
    display: table;
    width: 100px;
    height: 100px;
}

a,span {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    color: inherit;
    text-decoration: none;
}
a:hover{
    padding-left: 100px;
}
a:hover span{
    background: black;
    color: inherit;
}
li:nth-of-type(1){background: #63bcd1; color:#63bcd1}
li:nth-child(2){background: #35e3b4; color:#35e3b4}
li:nth-child(3){background: #f2cb29; color:#f2cb29}
li:nth-child(4){background: #f25050; color:#f25050}